.headerRight {
    position: absolute;
    top: calc(-8rem * 0.5 + -8vw * 0.5);
    left: calc(18rem * 0.5 + 18vw * 0.5);
    z-index: 1;
}

.ellipse {
    position: absolute;
    top: calc(-8rem * 0.5 + -8vw * 0.5);
    left: calc(18rem * 0.5 + 18vw * 0.5);

    width: calc(41.1125rem * 0.5 + 41.1125vw * 0.5);
    height: calc(25.11894rem * 0.5 + 25.11894vw * 0.5);
    transform: rotate(-140.03deg);
    border-radius: 41.1125rem;
    opacity: 0.5;
    background: #8241EF;
    filter: blur(100px);
}

.img {
    width: calc(46.5rem * 0.5 + 46.5vw * 0.5);
    /*height: calc(38.625rem * 0.5 + 38.625vw * 0.5);*/
    aspect-ratio: 46.5 / 38.625;
}

@media (max-width: 770px) {
    .ellipse {
        display: none;
    }

    .headerRight {
        position: static;
    }

    .img {
        position: static;
    }

    .img {
        position: static;
        width: calc(30rem * 0.5 + 30vw * 0.5);
        /*height: calc(38.625rem * 0.5 + 38.625vw * 0.5);*/
    }
}