.headerRight {
    position: absolute;
    top: -8rem;
    left: 18rem;
    z-index: 1;
}

.ellipse {
    position: absolute;
    top: -8rem;
    left: 18rem;

    width: 41.1125rem;
    height: 25.11894rem;
    transform: rotate(-140.03deg);
    flex-shrink: 0;
    border-radius: 41.1125rem;
    opacity: 0.5;
    background: #8241EF;
    filter: blur(100px);
}

.img {
    position: static;
    width: 46.5rem;
    height: 38.625rem;
}

/*@media (max-width: 1110px) {*/
/*    .ellipse {*/
/*        display: none;*/
/*    }*/

/*    .headerRight {*/
/*        position: static;*/
/*        top: 0;*/
/*        left: 0;*/
/*        width: 46.5vw;*/
/*        height: 38.625vw;*/
/*    }*/

/*    .img {*/
/*        position: static;*/
/*        width: 100%;*/
/*        height: 100%;*/
/*    }*/
/*}*/