.mainBlock {
    display: flex;
    flex-direction: column;
    gap: calc(5.65rem * 0.5 + 5.65vw * 0.5);
}

.col {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(3rem * 0.5 + 3vw * 0.5);

    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    gap: calc(5.23rem * 0.5 + 5.23vw * 0.5);
}

.textBlock {
    width: calc(26.1875rem * 0.5 + 26.1875vw * 0.5);
}

.img {
    position: absolute;
}

.ellipse {
    position: absolute;
    width: calc(25.79894rem * 0.5 + 25.79894vw * 0.5);
    height: calc(23.06513rem * 0.5 + 23.06513vw * 0.5);
    transform: rotate(-140.03deg);
    flex-shrink: 0;
    border-radius: 25.79894rem;
    opacity: 0.29;
    background: #8241EF;
    filter: blur(100px);

    top: calc(7rem * 0.5 + 7vw * 0.5);
    left: calc(3rem * 0.5 + 3vw * 0.5);
}