.card {
    display: flex;
    width: calc(28.4375rem * 0.5 + 28.4375vw * 0.5);
    height: calc(28.4375rem * 0.5 + 28.4375vw * 0.5);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: calc(4rem * 0.5 + 4vw * 0.5);
    background: #DEDEDE;

    overflow: hidden;
}

.rot {
    transform: rotate(2deg);
}


.img {
    transform: rotate(-2deg);
    width: calc(30rem * 0.5 + 30vw * 0.5);
    height: calc(30rem * 0.5 + 30vw * 0.5);
}

.cardBlock {
    position: relative;
}