.headerLeft {
    position: relative;
    z-index: 3;
}

.headerLeftImg {
    margin-bottom: min(calc(4.5rem * 0.5 + 4.5vw * 0.5), 4.5rem);
    width: calc(11rem * 0.5 + 11vw * 0.5);
    height: calc(3.13306rem * 0.5 + 3.13306vw * 0.5);
}

.headerLeftText {
    color: #21201F;
    font-family: YSBlack, sans-serif;
    font-size: calc(4.5rem * 0.5 + 4.5vw * 0.5);
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.09rem;
    width: calc(26.25rem * 0.5 + 26.25vw * 0.5);

    margin-bottom: min(calc(3rem * 0.5 + 3vw * 0.5), 3rem);
    position: relative;
}

.headerLeftAbo {
    margin-bottom: 2.75rem;

    max-width: calc(29.0625rem * 0.5 + 29.0625vw * 0.5);
    display: -moz-inline-stack;

    position: relative;
    z-index: 10;
}

.headerLeftSum {
    max-height: calc(2.0625rem * 0.5 + 2.0625vw * 0.5);
    display: flex;
    flex-direction: row;
    width: calc(9.3125rem * 0.5 + 9.3125vw * 0.5);

    border-radius: 31.25rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
    margin-left: .2rem;
}

.headerLeftFinal {
    display: inline-flex;
    padding: calc(0.5rem * 0.5 + 0.5vw * 0.5) calc(0.75rem * 0.5 + 0.75vw * 0.5);
    justify-content: center;
    align-items: center;
    gap: calc(0.625rem * 0.5 + 0.625vw * 0.5);

    border-radius: 31.25rem;
    background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
}

.headerLeftCrossOut {
    color: #808080;
    font-family: YSMedium, sans-serif;
    font-size: calc(1rem * 0.5 + 1vw * 0.5);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    padding: calc(0.69rem * 0.5 + 0.69vw * 0.5) calc(0.75rem * 0.5 + 0.75vw * 0.5);

    display: inline-flex;
    align-items: center;

    text-decoration-color: #808080;
}

.desk {
    display: block;
}

.mob {
    display: none;
}

/*@media (max-width: 1110px) {*/
/*    .desk {*/
/*        display: none;*/
/*    }*/
/*    .mob {*/
/*        display: block;*/
/*    }*/
/*}*/

/*@media (max-width: 1110px) {*/
/*    .headerLeftImg {*/
/*        margin-bottom: calc(4.5rem * 1vw / 16);*/
/*        width: calc(11rem * 1vw / 16);*/
/*        height: max(2rem, 3.13306vw);*/
/*    }*/

/*    .headerLeftText {*/
/*        font-size: max(2.25rem, 4.5vw);*/
/*        width: 26.25rem;*/
/*    }*/
/*}*/