@font-face {
    font-family: 'YSRegular', sans-serif;
    src: url('res/font/text-regular.woff');
}

@font-face {
    font-family: 'YSBlack', sans-serif;
    src: url('res/font/text-black.woff');
}

@font-face {
    font-family: 'YSMedium';
    src: url('res/font/text-medium.woff');
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF;
    font-family: YSMedium, sans-serif;
    padding-top: calc(7.81rem * 0.5 + 7.81vw * 0.5);
    padding-bottom: calc(8rem * 0.5 + 8vw * 0.5);

    display: flex;
    justify-content: center;
    align-content: center;
}