.textBlock {
    width: calc(27.625rem * 0.5 + 27.625vw * 0.5);
    margin-top: calc(3rem * 0.5 + 3vw * 0.5);
}

.col {
    display: flex;
    flex-direction: column;
    gap: calc(1rem * 0.5 + 1vw * 0.5);
}

.cardTable {
    display: flex;
    flex-direction: row;
    gap: calc(1.5rem * 0.5 + 1.5vw * 0.5);

    position: relative;
}

.col1 {
    margin-top: calc(4.32rem * 0.5 + 4.32vw * 0.5);
}

.col2 {
    transform: translateY(calc(calc(-13.1875rem * 0.5 + -13.1875vw * 0.5) + calc(4.32rem * 0.5 + 4.32vw * 0.5)));
}

@media (max-width: 770px) {
    .cardTable {
        flex-direction: column;
    }

    .col2 {
        transform: none;
    }

    .textBlock {
        width: unset;
    }
}